<div class="confirm">
    <div class="confirm__window">
        <div class="confirm__titlebar">
            <span class="confirm__title">delete</span>
            <button class="confirm__close" >&times;</button>
        </div>
        <div class="confirm__content">Are you sure you wish  to delete the file?</div>
        <div class="confirm__buttons">
            <button class="confirm__button confirm__button--ok confirm__button--fill">Ok</button>
            <button class="confirm__button confirm__button--cancel">cancel</button>
        </div>
    </div>
</div>
